.tabs {
    display: flex;
    flex-wrap: wrap;
    /* background: linear-gradient(0deg, var(--secondary-transparent) 1rem, var(--secondary-transparent) 0%); */
    /* border: 1px solid var(--secondary-transparent); */
    /* border-radius: var(--border-radius); */
    padding-bottom: 0.5em;
}
.tabs label {
    order: 1; /*Put the labels first*/
    display: block;
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    margin: 0.5rem 10px -1px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    color: var(--primary);
    border: 1px solid transparent;
    background: var(--secondary-bg);
}
.tabs label:first-of-type {
    margin-left: 1rem;
}
.tabs .tab {
    order: 99; /*Put the tabs last*/
    flex-grow: 1;
    width: 100%;
    display: none;
    z-index: 10;
    padding: 0 1rem;
    background: inherit;
    border: 1px solid var(--secondary-transparent);
    border-radius: var(--border-radius);
    /* border-top: 1px solid var(--secondary-transparent); */
}
.tabs input[type='radio']:not(:checked) + label:hover {
    filter: brightness(90%);
    border: 1px solid var(--secondary-transparent);
    border-bottom: 1px solid var(--secondary-bg);
    /* border-bottom: 0px; */
}
.tabs input[type='radio'] {
    display: none;
}
.tabs input[type='radio']:checked + label {
    border: 1px solid var(--secondary-transparent);
    border-bottom: 1px solid var(--secondary-bg);
    background: 1px solid var(--secondary-bg);
    color: var(--secondary);
    z-index: 11;
}
.tabs input[type='radio']:checked + label + .tab {
    display: block;
}

@media (max-width: 45em) {
    .tabs .tab,
    .tabs label {
        order: initial;
    }
    .tabs label {
        width: 100%;
        margin: 0 0 -1px !important;
    }
}
@media print {
    .tabs label + .tab {
        display: block;
    }
    .tabs label {
        display: none;
    }
}
